

body {
  background: lightblue; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, lightblue, grey); /* Safari */
  background: -o-radial-gradient(circle, lightblue, grey); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, lightblue, grey); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, lightblue, grey) /* Standard syntax */ no-repeat center center fixed;
	text-align: center;
  font-family: Arial;
}

.vertical {
    vertical-align: middle;
}

.title {
	background-color:rgba(0,0,0,0);
	padding-top: 2.5em;
	padding-bottom: 3em;

}

h1 {
	font-size: 4em;
	font-weight: bold;
	width: 100%;
}

h2 {
	font-size: 1em;
}

.focus {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.div-padding {
  padding: 1em;
}

.achievement {
  padding: 1em;
  margin: auto;
  width: 80%;
  height: 5.5em;
  background-color: lightblue;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.achi-title {
  font-size: 1.25em;
  font-family: tahoma;
}
.achi-desc {
  font-size: 0.75em;
  font-family: tahoma;
}
.achi-button {
  padding: 1em;
  width: 80%;
}
.complete {
  background: lightblue; /* For browsers that do not support gradients */
  background: radial-gradient(circle, gold, orange) /* Standard syntax */
}

.bolda {
  font-weight: bold;
}

.whitebg {
	background-color: white;
	border-radius: 1em;
}

.btn-block {
	background-color: lightblue;
}

/*
* — Useless crap below —
*/
